<nav class="border-gray-200 px-2  mb-20 sm:px-2 py-2 bg-dark text-yellow">
	<div class="container flex flex-wrap justify-between items-center mx-auto">
		<a href="/" class="flex items-center">
			<img src="{{ asset('build/images/logo.png') }}" class="mr-3 h-6 sm:h-9 img-logo" alt="Wild series logo">

			<span class="self-center text-xl font-bangers  whitespace-nowrap dark:text-white">Wild Series</span>
		</a>
		<div class="flex items-center md:order-2">
			<button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
				<span class="sr-only">Open user menu</span>
				{% if app.user %}
					<img class="w-12 h-12 rounded-full" src="{{asset('build/images/user.jpg')}}" alt="user photo">
				{% else %}
					<img class="w-10 h-10 rounded-full" src="{{asset('build/images/user.svg')}}" alt="user photo">
				{% endif %}
			</button>

			<div class="hidden z-50 my-4 font-bangers  text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(1091px, 443px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top">
				<div class="py-3 px-4">
					{% if app.user %}
						<span class="block text-sm font-bangers  text-gray-900 dark:text-white">{{app.user.nickname}}</span>
						<span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">{{app.user.email}}</span>
					{% endif %}
				</div>

				<ul class="py-1" aria-labelledby="dropdown">
					{% if app.user %}
						<li>
							<a href="{{path('program_new')}}" class="block py-2 px-4 text-sm text-green hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-teal-600 dark:hover:text-white">Dashboard</a>
						</li>
						<li>
							<a href="#" class="block py-2 px-4 text-sm text-green hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Favoris</a>
						</li>

						<li>
							<a href="{{ path('app_logout') }}" class="block py-2 px-4 text-sm text-green hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_register') }}" class="block py-2 px-4 text-sm text-green hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-teal-600 dark:hover:text-white">Register</a>
						</li>
						<li>
							<a href="{{ path('login') }}" class="block py-2 px-4 text-sm text-green hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Login</a>
						</li>
					{% endif %}
				</ul>

			</div>


			<button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
				</svg>
				<svg class="hidden w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
		<div class="hidden z-5000  justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
			<ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium z-5000 ">


				<li>
					<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex  text-green items-center z-5000 justify-between w-full py-2 pl-3 pr-4 font-medium md:hover:text-teal-600 ">Catégories
						<svg class="w-4 h-4 ml-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</button>
					<!-- Dropdown menu -->
					<div id="dropdownNavbar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
						<ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
							<li>
								<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Films</a>
							</li>
							<li>
								<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Séries</a>
							</li>
							<li>
								<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Trendings</a>
							</li>
						</ul>
						<div class="py-1">
							<a href="{{path('category_index')}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Toutes les Categories</a>
						</div>
					</div>
				</li>
				<li>
					<button id="dropdownNavbarLink2" data-dropdown-toggle="dropdownNavbar2" class="flex  text-green items-center justify-between w-full py-2 pl-3 pr-4 font-medium md:hover:text-teal-600 ">Acteurs
						<svg class="w-4 h-4 ml-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</button>
					<!-- Dropdown menu -->
					<div id="dropdownNavbar2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
						<ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
							<li>
								<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600  dark:hover:text-white">Hommes</a>
							</li>
							<li>
								<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Femmes</a>
							</li>
							<li>
								<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Trans</a>
							</li>
						</ul>
						<div class="py-1">
							<a href="{{path('actor_index')}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Tous</a>
						</div>
					</div>
				</li>

				<li>
					<a href="#" class="block w-full text-green py-2 pl-3 pr-4 font-medium md:hover:text-teal-600">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
