{% extends "base.html.twig" %}

{% block title %}
	{{program.title}}
{% endblock %}

{% block body %}
	<div class="mx-20 space-y-4">
		<h1 class="h1">{{program.title}}</h1>
		<h3>Saison :
			{{season.number}}
		</h3>
		<div class=" space-y-4 font-baloo ">
			<p class="font-bold">Episode
				{{episode.number}}
				:
				{{episode.title}}
			</p>
			<p class=" space-y-4 font-baloo ">
				{{episode.synopsis}}
			</p>

		</div>

	</div>


	<div class="flex mx-auto">
		{% if ep_prev %}
			<a class="btn m-5 hover:bg-teal-600 " href="{{path('program_episode_show', {'program_id': program.id, 'season_id': season.id, 'episode_id': ep_prev.0.id})}}">
				Prev
			</a>
		{% endif %}
		<a class="btn h-fit m-5 hover:bg-teal-600 font-bold" href="{{ path('program_season_show', {'programId': program.id ,'seasonId': season.id }) }}">
			Retour
		</a>
		{% if ep_next %}
			<a class="btn m-5 hover:bg-teal-600 " href="{{path('program_episode_show', {'program_id': program.id, 'season_id': season.id, 'episode_id': ep_next.0.id})}}">
				Next
			</a>
		{% endif %}
	</div>
{% endblock %}
