{% extends "base.html.twig" %}

{% block title %}
	{{program.title}}
{% endblock %}

{% block body %}
	<div class="mx-20 space-y-4">
		<h1 class="h1">{{program.title}}</h1>
		<h3>Saison :
			{{season.number}}
		</h3>
		<div class=" space-y-4 font-baloo ">
			<p class="font-bold">Episode
				{{episode.number}}
				:
				{{episode.title}}
			</p>
			<p class=" space-y-4 font-baloo ">
				{{episode.synopsis}}
			</p>

		</div>

		{% for comment in episode.comments %}

			<div class="mb-10 font-baloo ">

				<p class="font-bold">{{comment.author.nickname}}
				</p>
				<p>
					{{comment.comment}}
				</p>
				<p>Note :
					{{comment.rate}}
					/10
				</p>
			</div>
		{% endfor %}
		{% if app.user %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		{% endif %}

	</div>


	<div class="flex mx-auto">
		{% if ep_prev %}
			<a class="btn m-5 hover:bg-teal-600 " href="{{path('program_episode_show', {'program_slug': program.slug, 'season_slug': season.slug, 'episode_slug': ep_prev.0.slug})}}">
				Prev
			</a>
		{% endif %}
		<a class="btn h-fit m-5 hover:bg-teal-600 font-bold" href="{{ path('program_season_show', {'slug': program.slug ,'season_slug': season.slug }) }}">
			Retour
		</a>
		{% if ep_next %}
			<a class="btn m-5 hover:bg-teal-600 " href="{{path('program_episode_show', {'program_slug': program.slug, 'season_slug': season.slug, 'episode_slug': ep_next.0.slug})}}">
				Next
			</a>
		{% endif %}
	</div>
{% endblock %}
