{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}

	<div class="flex m-20 flex-col items-center justify-center">


		<img class="align-self-start  poster w-1/4 mr-3" src="{{asset('build/images/' ~ program.poster)}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="h1 mt-10">{{ program.title }}</h1>

			<h2 class="h1 text-2xl">Saison
				{{  season.number }}</h2>
			<h2 class="text-2xl font-baloo">Catégorie :
				{{ program.category.name }}
				/ année :
				{{season.year}}
			</h2>
			<p class="font-baloo">{{season.description}}</p>


		</div>
		<h2 class="h1 mt-10 underline">Épisodes</h2>
		<ul class="mt-1 mb-5 font-baloo">

			{% for episode in season.episodes %}

				<li>{{episode.number}}
					--
					<a class="hover:underline" href="{{path('program_episode_show', {'program_slug': program.slug, 'season_slug': season.slug, 'episode_slug': episode.slug})}}">{{episode.title}}</a>

				</li>
			{% endfor %}
		</ul>
		<div class="flex">
			{% if season_prev %}
				<a class="btn m-5 hover:bg-teal-600 " href="{{ path('program_season_show', {'slug': program.slug ,'season_slug': season_prev.0.slug }) }}">
					Prev
				</a>
			{% endif %}
			<a class="btn m-5 hover:bg-teal-600 " href="{{ path('program_show', {'slug': program.slug }) }}">
				Retour à la liste des saisons
			</a>
			{% if season_next %}
				<a class="btn m-5 hover:bg-teal-600 " href="{{ path('program_season_show', {'slug': program.slug ,'season_slug': season_next.0.slug }) }}">
					Next
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
