{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}


	<div class=" font-baloo mx-20 flex flex-col items-center justify-center">

		<img class="align-self-start w-1/4 mr-3" src="{{asset('build/images/' ~ program.poster)}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-10 h1 font-bangers">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p class="mt-10 font-bold">Catégorie :
				{{ program.category.name }}</p>
			<h2 class="h1 font-bangers">
				Saisons</h2>
			{% for season in program.seasons %}

				<a class="font-bold" href="{{ path('program_season_show', {'programId': program.id ,'seasonId': season.id }) }}">
					{{season.number}}

				</a>
			{% endfor %}
			<br>
			<strong>Acteurs :</strong>
			<ul>
				{% for actor in program.actors %}
					<li>
						<a href="{{path('actor_show', {'id': actor.id})}}">{{ actor.name }}</a>
					</li>
				{% else %}
					<li>Aucun acteur pour cette série</li>
				{% endfor %}
			</ul>
		</div>

		<a class="btn mb-20 hover:bg-teal-600 " href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	</div>
{% endblock %}
