{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}

	<div class="max-w-2xl mx-auto">
		<h1 class="ml-10 text-dark text-4xl mb-4">Dernières sorties</h1>

		<div
			id="default-carousel" class="relative" data-carousel="static">
			<!-- Carousel wrapper -->
			<div
				class="overflow-hidden relative h-56 mt-10 rounded-lg sm:h-64 xl:h-80 2xl:h-96">
				<!-- Item 1 -->
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<span class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800">First Slide</span>
					<img src="{{asset('build/images/crown.jpg')}}" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
				</div>
				<!-- Item 2 -->
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
				</div>
				<!-- Item 3 -->
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<img src="https://flowbite.com/docs/images/carousel/carousel-3.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
				</div>
			</div>
			<!-- Slider indicators -->
			<div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
				<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
				<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
				<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
			</div>
			<!-- Slider controls -->
			<button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
				<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
					<svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
					</svg>
					<span class="hidden">Previous</span>
				</span>
			</button>
			<button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
				<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
					<svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
					</svg>
					<span class="hidden">Next</span>
				</span>
			</button>
		</div>

		<p class="mt-5 text-yellow">This carousel slider component is part of a larger, open-source library of Tailwind CSS components. Learn
																																																																																																																																																																																																																																																																																																																																	more
																																																																																																																																																																																																																																																																																																																																	by going to the official

		</p>
	</div>
	<div class="h-screen flex flex-col items-center justify-center">
		<h1 class="text-dark text-4xl mb-4">Tous les Programmes</h1>
		<a href="{{path('program_index')}}" class="px-4 py-2 bg-green hover:bg-teal-600 text-white rounded">
			Cliquez ici
		</a>
	</div>
	<div class="reco w-full bg-dark mt-10  ">

		<h1 class="mt-10  mx-auto text-center text-yellow text-4xl mb-4">Recommandations</h1>
		<div class="wrapper w-3/4 max-w-4xl  justify-center mx-auto flex flex-wrap ">

			{% for program in programs %}

				<div class="py-1 px-2  max-w-xs  mx-auto my-5 relative flip">
					<div class="bg-dark shadow-lg  flip-content  rounded-3xl  flex">
						<div class="flip-front relative">
							<div class="absolute top-0 text-light-grey font-bold  rounded-t-3xl w-full bg-dark-light">
								<h2 class="text-2xl font-baloo text-grey-light px-5 pt-2">{{ program.id }}
									/
									{{program.title}}</h2>
								<div class="flex items-center px-5">
									{% set i = program.note %}
									{% if i>0 %}
										{% for v in range (1, i) %}
											<img class="w-5 h-5 text-yellow" src="{{asset('build/images/star.svg')}}" alt="">
										{% endfor %}
									{% endif %}
									{% set k = 5 -program.note  %}
									{% if k > 0 %}
										{% for v in 1..k %}
											<img class="w-5 h-5 text-yellow" src="{{asset('build/images/grey-star.svg')}}" alt="">
										{% endfor %}
									{% endif %}
									<p class="ml-2 text-sm font-medium text-ligth-grey dark:text-gray-400">{{program.note}}/5</p>
								</div>
							</div>
							<img class="rounded-3xl shadow-lg" src="{{asset('build/images/'~ program.poster)}}" alt="">
						</div>
						<div class="flip-back border-yellow rounded-3xl  border">
							<div class="flex flex-col space-y-2 ">
								<div class="flex justify-center">
									<div class="flex justify-between">

										<p class="ml-2 text-sm font-medium text-ligth-grey dark:text-gray-400">{{program.title}}</p>
									</div>
								</div>
								<div>
									<div class="text-sm text-yellow">{{program.category.name}}</div>

								</div>
								<div class="flex justify-center space-x-2">
									<button type="button" class="min-w-fit	 flex justify-around	 text-white bg-green hover:bg-teal-600 focus:ring-4 rounded-lg text-sm p-2.5 text-center inline-flex items-center mx-auto ">
										<img src="{{asset('build/images/add.svg')}}" alt="">
										<p class='ml-2'>Favoris</p>
									</button>
									<a href='{{path('program_show', {id: program.id} )}}' type="button" class="min-w-fit	 flex justify-around	 text-white bg-green hover:bg-teal-600 focus:ring-4 rounded-lg text-sm p-2.5 text-center inline-flex items-center mx-auto ">
										<img src="{{asset('build/images/loupe.svg')}}" alt="">
										<p class='ml-2'>Voir</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


		</div>
	</div>
	<div class="keep-watching w-full bg-yellow">Continuer à regarder</div>
{% endblock %}
